<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logs</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style type="text/css">
      #logcheckid {
        background-color: #009bdf;
        width: 100%;
        height: 50px;
      }
      #webHookid {
        background-color: #009bdf;
        width: 100%;
        height: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center;">
          <p>
            User logs
          </p>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
          {% csrf_token %}
          <div class="form-group">
            <button
              type="button"
              onclick="logcheck();"
              tabindex="3"
              id="logcheckid"
              class="btn btn-orange btn-block btn-sm"
            >
              Logs
            </button>
          </div>
        </div>
        <div class="col-sm-2">
          {% csrf_token %}
          <div class="form-group">
            <button
              type="button"
              onclick="webHook();"
              tabindex="3"
              id="webHookid"
              class="btn btn-orange btn-block btn-sm"
            >
              WebHooks Logs
            </button>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="reportLive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Code</th>
                <th scope="col">access_token</th>
                <th scope="col">Github login</th>
                <th scope="col">Github FullName</th>
                <th scope="col">Emailid</th>
                <th scope="col">Company</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      function logcheck() {
        var ID = 1;
        $.ajax({
          type: "POST",
          url: "/UserModule/getLogs/",
          dataType: "json",
          data: {
            ID: ID,
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
          },
          success: function (result) {
            var trEls = "";
            var trElsLive = "";
            for (var j = 0; j < result.length; j++) {
              var location = result.data[j].location;
              var githubfullname = result.data[j].githubfullname;
              trEls += "<tr>";
              trEls += "<th scope='row'>" + j + "</td>";
              trEls += "<td>" + result.data[j].username + "</td>";
              trEls += "<td> " + result.data[j].Code + "</td>";
              trEls += "<td>" + result.data[j].access_token + "</td>";
              trEls += "<td>" + result.data[j].githublogin + "</td>";
              trEls +=
                "<td> " + githubfullname != null
                  ? githubfullname
                  : "" + "</th>";
              trEls += "<td>" + location === null ? " " : location + "</td>";
              trEls +=
                "<td>" + result.data[j].emailid != null
                  ? result.data[j].emailid
                  : "" + "</td>";
              trEls +=
                "<td> " + result.data[j].Company != null
                  ? result.data[j].Company
                  : "" + "</td>";
              trEls +=
                "<td>" + result.data[j].location != null
                  ? result.data[j].location
                  : "" + "</td>";
              trEls += "</tr>";
            }
            trElsLive += trEls;
            $("#reportLive table tbody").html(trElsLive);
          },
        });
      }
    </script>
  </body>
</html>
